fortran-cheat/fortran-cheat.aux
fortran-cheat/fortran-cheat.fdb_latexmk
fortran-cheat/fortran-cheat.fls
fortran-cheat/fortran-cheat.log
fortran-cheat/fortran-cheat.pdf
fortran-cheat/fortran-cheat.synctex.gz
